[submodule "vendor/facebooker"]
	path = vendor/facebooker
	url = git://github.com/mmangino/facebooker.git
[submodule "public/css/css_commons"]
	path = public/css/css_commons
	url = git@github.com:iamwilhelm/css_commons.git
[submodule "public/js/french_maid"]
	path = public/js/french_maid
	url = git@github.com:iamwilhelm/french_maid.git
