[submodule "vendor/facebooker"]
	path = vendor/facebooker
	url = git://github.com/mmangino/facebooker.git
[submodule "public/css_commons"]
	path = public/css_commons
	url = git@github.com:iamwilhelm/css_commons.git
