<h1><%= @source.title %> 
  <span>
    <a href="#" class="get"
       data-href="/sources/<%= @source.id %>/edit" 
       data-target="#datasource_info">Edit</a>
  </span>
</h1>

<h3><%= @source.url %></h3>
<p>
  <%= @source.description %>
</p>
