<h1>Data Sources</h1>
<ul>
  <% if @sources.each do |s| %>
    <li><a href="sources/<%= s.id %>"><%= s.url %></a></li>
  <% end.empty? %>
    <li>There are currently no data sources in the source tracker.</li>
  <% end %>
</ul>

<a href="/">Back to index</a>
