<h1>Data Source</h1>
<p>
  <%= @source.url %>
</p>
<div>
  <a href="/">Back to Dashboard</a>
</div>
<h2>The page looks like</h2>
<iframe src="<%= @source.url %>" style="width: 100%; height: 300px">
  Your browser doesn't support iframes
</iframe>
