<form method="post" action="">
  <% %w(title data_type units column_position).each do |col_name| %>
    <label for="col[<%= col_name %>]"><%= col_name.capitalize %>:</label><br/>
    <input type="text" name="col[<%= col_name %>]" /><br/>
  <% end %>
</form>
