<form method="post" class="previewable"
      action="/datasources/<%= @datasource.id  %>/imported_tables/<%= @imported_table.id %>">
  <input type="hidden" name="_method" value="put" />
  <%= erb :"imported_tables/_form", :layout => false %>
  <input type="submit" value="Update" />
  <input type="button" value="Finish Loading" onclick="colorTable()"/>
</form>
