<div class="container">
  <p>
    <form action="/datasources" method="post">
      <label for="url">What URI would you like to suck?</label><br/>
      <input type="text" name="source[url]" />
      <input type="submit" value="submit" />
    </form>
  </p>
  <p>
    <a href="/datasources">Show me the datasources</a>
  </p>
</div>
