<div id="datasource_info">
  <h1><%= @datasource.title %> 
    <span>
      <a href="/datasources/<%= @datasource.id %>/edit" 
         data-remote="true" 
         data-update="datasource_info">Edit</a>
    </span>
  </h1>

  <h3><%= @datasource.url %></h3>
  <p>
    <%= @datasource.last_crawled_at %>
  </p>
</div>
