<h2>Edit Datasource</h2>
<form method="post" action="/datasources/<%= @datasource.id %>">
  <input type="hidden" name="_method" value="put" />

  <label for="source[title]">Title:</label><br/>
  <input type="text" name="source[title]" value="<%= @datasource.title %>" /><br/>

  <label for="source[url]">URL:</label><br/>
  <input type="text" name="source[url]" value="<%= @datasource.url %>" /><br/>

  <label for="source[description]">Description:</label><br/>
  <textarea name="source[description]"><%= @datasource.description %></textarea><br/>

  <input type="submit" value="Update" />
</form>
