<div class="container">
  <h1>Data Sources</h1>
  <p>
    <ul>
      <% if @datasources.each do |s| %>
      <li><a href="/datasources/<%= s.id %>"><%= s.url %></a></li>
      <% end.empty? %>
      <li>There are currently no data sources in the source tracker.</li>
      <% end %>
    </ul>
  </p>

  <a href="/">Back to index</a>
</div>
